# Python & OS
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.DS_Store

# Environment
.env
*.venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Output
/output/results/
/output/distributions/
/output/performance_curves/

# Audio & Video
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.mp4
*.avi



# SuCo-HRNE specific
/cache/


#라벨링데이터
*.xml
*.json
*.mid
